<!-- Add -->

<html>
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    	<title>
        	Carmap
        </title>
    </head>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'ar', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <body dir='rtl'>
      <br>

      <div class="w3-container">
          <div id="google_translate_element"></div>
      	<div class="w3-card-4">
          <div class="w3-container w3-green">
            <h2>إضافة اعلان</h2>
          </div>
          <form class="w3-container" method="POST" action="{% url 'AdDate' name %}">

              <p>
              <label>تاريخ السيارة: </label>
                  <select name='date' class='w3-input'>
                      {% for car in cars %}
                      <option value="{{ car.date }}">{{ car.date }}</option>
                      {% endfor %}
                  </select>
          	  <p/>
          	  <p>
              {% csrf_token %}
              <input type='submit' value='التالي' class='w3-btn w3-green'>
          </form>
        </div>
   	  </div>
    </body>
</html>