<!-- Edit -->

<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <title>
          Carmap
        </title>
    </head>
    <body dir='rtl'>
      <br>
      <div class="w3-container">
        <div class="w3-card-4">
          <div class="w3-container w3-blue">
            <h2>تعديل سيارة</h2>
          </div>
          <form class="w3-container" method="POST">
              {{ message }}
              <p>
              <label>اسم السيارة: </label>
              <input name='name' class='w3-input' placeholder="{{ car.name }}">
              <p/>
              <p>
              <label>الموديل: </label>
              <input name='modelText' class='w3-input' placeholder="{{ car.modelText }}">
              </p>
              <p>
              <label>النوع: </label>
              <input name='sortText' class='w3-input' placeholder="{{ car.sortText }}">
              </p>
              <p>
              <label> الصورة: </label>
              <input type='text' name='image' class='w3-input'>
              <a class='w3-btn w3-green' href="https://up4net.com/" target="_blank">اضغط هنا لرفع الصورة</a>
              </p>
              <p>
              <label> الشعار: </label>
              <input type='text' name='logo' class='w3-input'>
              <a class='w3-btn w3-green' href="https://up4net.com/" target="_blank">اضغط هنا لرفع الشعار</a>
              </p>
              <p>
              <label>تاريخ السيارة: </label>
              <input name='date' class='w3-input' placeholder="{{ car.date }}">
          	  <p/>
              <p>
              <label>عنوان الفيديو: </label>
              <input name='video_url' class='w3-input'  placeholder="{{ car.video }}">
              <p/>

              <p>
              <label>التفاصيل: </label>
              <textarea name='details' class='w3-input'  placeholder="{{ car.details }}"></textarea>
              <p/>
              <p>
              <label>العيوب: </label>

              <textarea name='flaws' class='w3-input' placeholder="{{ car.flaws }}"></textarea>
              </p>
              <p>
              <label>قوة الموتور: </label>
                <select name='motorSt' class='w3-input'>
                    <option value="">-------</option>
                    <option value="1.0">1.0 لتر</option>
                    <option value="1.1">1.1 لتر</option>
                    <option value="1.2">1.2 لتر</option>
                    <option value="1.3">1.3 لتر</option>
                    <option value="1.4">1.4 لتر</option>
                    <option value="1.5">1.5 لتر</option>
                    <option value="1.6">1.6 لتر</option>
                    <option value="1.7">1.7 لتر</option>
                    <option value="1.8">1.8 لتر</option>
                    <option value="1.9">1.9 لتر</option>
                    <option value="2.0">2.0 لتر</option>
                    <option value="2.1">2.1 لتر</option>
                    <option value="2.2">2.2 لتر</option>
                    <option value="2.3">2.3 لتر</option>
                    <option value="2.4">2.4 لتر</option>
                    <option value="2.5">2.5 لتر</option>
                    <option value="2.6">2.6 لتر</option>
                    <option value="2.7">2.7 لتر</option>
                    <option value="2.8">2.8 لتر</option>
                    <option value="2.9">2.9 لتر</option>
                    <option value="3.0">3.0 لتر</option>
                    <option value="3.1">3.1 لتر</option>
                    <option value="3.2">3.2 لتر</option>
                    <option value="3.3">3.3 لتر</option>
                    <option value="3.4">3.4 لتر</option>
                    <option value="3.5">3.5 لتر</option>
                    <option value="3.6">3.6 لتر</option>
                    <option value="3.7">3.7 لتر</option>
                    <option value="3.8">3.8 لتر</option>
                    <option value="3.9">3.9 لتر</option>
                    <option value="4.0">4.0 لتر</option>
                    <option value="4.1">4.1 لتر</option>
                    <option value="4.2">4.2 لتر</option>
                    <option value="4.3">4.3 لتر</option>
                    <option value="4.4">4.4 لتر</option>
                    <option value="4.5">4.5 لتر</option>
                    <option value="4.6">4.6 لتر</option>
                    <option value="4.7">4.7 لتر</option>
                    <option value="4.8">4.8 لتر</option>
                    <option value="4.9">4.9 لتر</option>
                    <option value="5.0">5.0 لتر</option>
                </select>
              </p>
              <p>
              <label> سعر السيارة بالدولار: </label>
              <input type="number" name='price' class='w3-input' placeholder="{{ car.price }}">
              </p>
              <p>
              <input name='id' class='w3-input'  placeholder="{{ id }}">
              {% csrf_token %}
              <input type='submit' value='تعديل' class='w3-btn w3-blue'>
          </form>
        </div>
      </div>
    </body>
</html>