{% load static %}

<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carmap</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'car/styles.css' %}" rel="stylesheet">
        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'ar', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </head>
    <body dir='rtl'>
    <div id="google_translate_element"></div>


    <h2>تسجيل حساب جديد</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="اسم المستخدم">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="phoneNumber" placeholder="رقم الموبايل">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="كلمة المرور">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="تأكيد كلمة المرور">
        </div>
        <div class="form-group">
            <input type='text' name='pic' class="form-control" placeholder="الصورة الشخصية">
            <br>
            <a class="btn btn-primary" href="https://up4net.com/" target="_blank">اضغط هنا لرفع الصورة</a>
        </div>
        <input class="btn btn-primary" type="submit" value="تسجيل">
    </form>

    <p>هل لديك حساب بالفعل؟</p> <a href="{% url 'login' %}">سجل الدخول هنا</a>

    </body>
</html>